{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form Submitted Successfully</title>
</head>
<body>
    <h1>Contact Form Submitted Successfully</h1>
    <p>Thank you for contacting us. We'll get back to you soon!</p>
    <p><a href="{% url 'store:contact_us' %}">Go back to contact form</a></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    
    <br>
    <br>

{% endblock content %}
